@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.team_container{
    margin: auto;
    padding: 8rem 2rem 8rem;
    background-color: black !important;
}

.team_heading{
    text-align: center;
    color:white !important;
}

.pos_head{
    color:white !important;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: 50;
}