<head>
    {{ $styles1 := partialCached "getStylesBundle" . }}
    <link rel="stylesheet" href="{{ $styles1.Permalink }}" as="style" crossorigin="anonymous">
</head>
<section class="service-2 section bg-gray">
    <input type="checkbox" id="in-1-1"/>
<input type="checkbox" id="in-1-2" checked />
<input type="checkbox" id="in-1-3"/>
<input type="checkbox" id="in-1-4"/>
<input type="checkbox" id="in-1-5" checked />
<input type="checkbox" id="in-1-6"/>
<input type="checkbox" id="in-1-7"/>
<input type="checkbox" id="in-1-8"/><br/>
<input type="checkbox" id="in-2-1"/>
<input type="checkbox" id="in-2-2" checked />
<input type="checkbox" id="in-2-3" checked />
<input type="checkbox" id="in-2-4"/>
<input type="checkbox" id="in-2-5"/>
<input type="checkbox" id="in-2-6" checked />
<input type="checkbox" id="in-2-7"/>
<input type="checkbox" id="in-2-8" checked /><br/>
<input type="checkbox" id="in-3-1"/>
<input type="checkbox" id="in-3-2" checked />
<input type="checkbox" id="in-3-3" checked />
<input type="checkbox" id="in-3-4"/>
<input type="checkbox" id="in-3-5" checked />
<input type="checkbox" id="in-3-6" checked />
<input type="checkbox" id="in-3-7"/>
<input type="checkbox" id="in-3-8"/><br/>
<input type="checkbox" id="in-4-1"/>
<input type="checkbox" id="in-4-2" checked />
<input type="checkbox" id="in-4-3" checked />
<input type="checkbox" id="in-4-4"/>
<input type="checkbox" id="in-4-5" checked />
<input type="checkbox" id="in-4-6" checked />
<input type="checkbox" id="in-4-7"/>
<input type="checkbox" id="in-4-8"/><br/>
<input type="checkbox" id="in-5-1"/>
<input type="checkbox" id="in-5-2" checked />
<input type="checkbox" id="in-5-3" checked />
<input type="checkbox" id="in-5-4"/>
<input type="checkbox" id="in-5-5" checked />
<input type="checkbox" id="in-5-6" checked />
<input type="checkbox" id="in-5-7" checked />
<input type="checkbox" id="in-5-8" checked /><br/>
<input type="checkbox" id="in-6-1"/>
<input type="checkbox" id="in-6-2"/>
<input type="checkbox" id="in-6-3" checked />
<input type="checkbox" id="in-6-4"/>
<input type="checkbox" id="in-6-5"/>
<input type="checkbox" id="in-6-6"/>
<input type="checkbox" id="in-6-7"/>
<input type="checkbox" id="in-6-8"/><br/>
<input type="checkbox" id="in-7-1"/>
<input type="checkbox" id="in-7-2" checked />
<input type="checkbox" id="in-7-3"/>
<input type="checkbox" id="in-7-4" checked />
<input type="checkbox" id="in-7-5"/>
<input type="checkbox" id="in-7-6" checked />
<input type="checkbox" id="in-7-7" checked />
<input type="checkbox" id="in-7-8" checked /><br/>
<input type="checkbox" id="in-8-1"/>
<input type="checkbox" id="in-8-2" checked />
<input type="checkbox" id="in-8-3" checked />
<input type="checkbox" id="in-8-4"/>
<input type="checkbox" id="in-8-5" checked />
<input type="checkbox" id="in-8-6" checked />
<input type="checkbox" id="in-8-7" checked />
<input type="checkbox" id="in-8-8" checked /><br/>
<input type="checkbox" id="in-9-1"/>
<input type="checkbox" id="in-9-2" checked />
<input type="checkbox" id="in-9-3" checked />
<input type="checkbox" id="in-9-4" checked />
<input type="checkbox" id="in-9-5"/>
<input type="checkbox" id="in-9-6"/>
<input type="checkbox" id="in-9-7" checked />
<input type="checkbox" id="in-9-8"/><br/>
<input type="checkbox" id="in-10-1"/>
<input type="checkbox" id="in-10-2" checked />
<input type="checkbox" id="in-10-3" checked />
<input type="checkbox" id="in-10-4"/>
<input type="checkbox" id="in-10-5" checked />
<input type="checkbox" id="in-10-6" checked />
<input type="checkbox" id="in-10-7"/>
<input type="checkbox" id="in-10-8"/><br/>
<input type="checkbox" id="in-11-1"/>
<input type="checkbox" id="in-11-2" checked />
<input type="checkbox" id="in-11-3" checked />
<input type="checkbox" id="in-11-4"/>
<input type="checkbox" id="in-11-5"/>
<input type="checkbox" id="in-11-6" checked />
<input type="checkbox" id="in-11-7"/>
<input type="checkbox" id="in-11-8"/><br/>
<!-- <input type="checkbox" id="in-12-1"/>
<input type="checkbox" id="in-12-2"/>
<input type="checkbox" id="in-12-3" checked />
<input type="checkbox" id="in-12-4"/>
<input type="checkbox" id="in-12-5"/>
<input type="checkbox" id="in-12-6"/>
<input type="checkbox" id="in-12-7"/>
<input type="checkbox" id="in-12-8" checked /><br/> -->
<section>
  <h1><span class="output-1"></span><span class="output-2"></span><span class="output-3"></span><span class="output-4"></span><span class="output-5"></span><span class="output-6"></span><span class="output-7"></span><span class="output-8"></span><span class="output-9"></span><span class="output-10"></span><span class="output-11"></span><span class="output-12"></span>
  </h1>
</section>
<nav class="nav">
  <div>
    <label for="in-1-1"></label>
    <label for="in-1-2"></label>
    <label for="in-1-3"></label>
    <label for="in-1-4"></label>
    <label for="in-1-5"></label>
    <label for="in-1-6"></label>
    <label for="in-1-7"></label>
    <label for="in-1-8"></label>
  </div>
  <div>
    <label for="in-2-1"></label>
    <label for="in-2-2"></label>
    <label for="in-2-3"></label>
    <label for="in-2-4"></label>
    <label for="in-2-5"></label>
    <label for="in-2-6"></label>
    <label for="in-2-7"></label>
    <label for="in-2-8"></label>
  </div>
  <div>
    <label for="in-3-1"></label>
    <label for="in-3-2"></label>
    <label for="in-3-3"></label>
    <label for="in-3-4"></label>
    <label for="in-3-5"></label>
    <label for="in-3-6"></label>
    <label for="in-3-7"></label>
    <label for="in-3-8"></label>
  </div>
  <div>
    <label for="in-4-1"></label>
    <label for="in-4-2"></label>
    <label for="in-4-3"></label>
    <label for="in-4-4"></label>
    <label for="in-4-5"></label>
    <label for="in-4-6"></label>
    <label for="in-4-7"></label>
    <label for="in-4-8"></label>
  </div>
  <div>
    <label for="in-5-1"></label>
    <label for="in-5-2"></label>
    <label for="in-5-3"></label>
    <label for="in-5-4"></label>
    <label for="in-5-5"></label>
    <label for="in-5-6"></label>
    <label for="in-5-7"></label>
    <label for="in-5-8"></label>
  </div>
  <div>
    <label for="in-6-1"></label>
    <label for="in-6-2"></label>
    <label for="in-6-3"></label>
    <label for="in-6-4"></label>
    <label for="in-6-5"></label>
    <label for="in-6-6"></label>
    <label for="in-6-7"></label>
    <label for="in-6-8"></label>
  </div>
  <div>
    <label for="in-7-1"></label>
    <label for="in-7-2"></label>
    <label for="in-7-3"></label>
    <label for="in-7-4"></label>
    <label for="in-7-5"></label>
    <label for="in-7-6"></label>
    <label for="in-7-7"></label>
    <label for="in-7-8"></label>
  </div>
  <div>
    <label for="in-8-1"></label>
    <label for="in-8-2"></label>
    <label for="in-8-3"></label>
    <label for="in-8-4"></label>
    <label for="in-8-5"></label>
    <label for="in-8-6"></label>
    <label for="in-8-7"></label>
    <label for="in-8-8"></label>
  </div>
  <div>
    <label for="in-9-1"></label>
    <label for="in-9-2"></label>
    <label for="in-9-3"></label>
    <label for="in-9-4"></label>
    <label for="in-9-5"></label>
    <label for="in-9-6"></label>
    <label for="in-9-7"></label>
    <label for="in-9-8"></label>
  </div>
  <div>
    <label for="in-10-1"></label>
    <label for="in-10-2"></label>
    <label for="in-10-3"></label>
    <label for="in-10-4"></label>
    <label for="in-10-5"></label>
    <label for="in-10-6"></label>
    <label for="in-10-7"></label>
    <label for="in-10-8"></label>
  </div>
  <div>
    <label for="in-11-1"></label>
    <label for="in-11-2"></label>
    <label for="in-11-3"></label>
    <label for="in-11-4"></label>
    <label for="in-11-5"></label>
    <label for="in-11-6"></label>
    <label for="in-11-7"></label>
    <label for="in-11-8"></label>
  </div>
<!--   <div>
    <label for="in-12-1"></label>
    <label for="in-12-2"></label>
    <label for="in-12-3"></label>
    <label for="in-12-4"></label>
    <label for="in-12-5"></label>
    <label for="in-12-6"></label>
    <label for="in-12-7"></label>
    <label for="in-12-8"></label>
  </div> -->
</nav>
<div class="map">
  <div><span>a</span><span>01100001</span></div>
  <div><span>b</span><span>01100010</span></div>
  <div><span>c</span><span>01100011</span></div>
  <div><span>d</span><span>01100100</span></div>
  <div><span>e</span><span>01100101</span></div>
  <div><span>f</span><span>01100110</span></div>
  <div><span>g</span><span>01100111</span></div>
  <div><span>h</span><span>01101000</span></div>
  <div><span>i</span><span>01101001</span></div>
  <div><span>j</span><span>01101010</span></div>
  <div><span>k</span><span>01101011</span></div>
  <div><span>l</span><span>01101100</span></div>
  <div><span>m</span><span>01101101</span></div>
  <div><span>n</span><span>01101110</span></div>
  <div><span>o</span><span>01101111</span></div>
  <div><span>p</span><span>01110000</span></div>
  <div><span>q</span><span>01110001</span></div>
  <div><span>r</span><span>01110010</span></div>
  <div><span>s</span><span>01110011</span></div>
  <div><span>t</span><span>01110100</span></div>
  <div><span>u</span><span>01110101</span></div>
  <div><span>v</span><span>01110110</span></div>
  <div><span>w</span><span>01110111</span></div>
  <div><span>x</span><span>01111000</span></div>
  <div><span>y</span><span>01111001</span></div>
  <div><span>z</span><span>01111010</span></div>
  <div><span>A</span><span>01000001</span></div>
  <div><span>B</span><span>01000010</span></div>
  <div><span>C</span><span>01000011</span></div>
  <div><span>D</span><span>01000100</span></div>
  <div><span>E</span><span>01000101</span></div>
  <div><span>F</span><span>01000110</span></div>
  <div><span>G</span><span>01000111</span></div>
  <div><span>H</span><span>01001000</span></div>
  <div><span>I</span><span>01001001</span></div>
  <div><span>J</span><span>01001010</span></div>
  <div><span>K</span><span>01001011</span></div>
  <div><span>L</span><span>01001100</span></div>
  <div><span>M</span><span>01001101</span></div>
  <div><span>N</span><span>01001110</span></div>
  <div><span>O</span><span>01001111</span></div>
  <div><span>P</span><span>01010000</span></div>
  <div><span>Q</span><span>01010001</span></div>
  <div><span>R</span><span>01010010</span></div>
  <div><span>S</span><span>01010011</span></div>
  <div><span>T</span><span>01010100</span></div>
  <div><span>U</span><span>01010101</span></div>
  <div><span>V</span><span>01010110</span></div>
  <div><span>W</span><span>01010111</span></div>
  <div><span>X</span><span>01011000</span></div>
  <div><span>Y</span><span>01011001</span></div>
  <div><span>Z</span><span>01011010</span></div>
  <div><span>0</span><span>00110000</span></div>
  <div><span>1</span><span>00110001</span></div>
  <div><span>2</span><span>00110010</span></div>
  <div><span>3</span><span>00110011</span></div>
  <div><span>4</span><span>00110100</span></div>
  <div><span>5</span><span>00110101</span></div>
  <div><span>6</span><span>00110110</span></div>
  <div><span>7</span><span>00110111</span></div>
  <div><span>8</span><span>00111000</span></div>
  <div><span>9</span><span>00111001</span></div>
  <div><span> </span><span>00100000</span></div>
  <div><span>!</span><span>00100001</span></div>
  <div><span>&quot;</span><span>00100010</span></div>
  <div><span>#</span><span>00100011</span></div>
  <div><span>$</span><span>00100100</span></div>
  <div><span>%</span><span>00100101</span></div>
  <div><span>&amp;</span><span>00100110</span></div>
  <div><span>'</span><span>00100111</span></div>
  <div><span>(</span><span>00101000</span></div>
  <div><span>)</span><span>00101001</span></div>
  <div><span>*</span><span>00101010</span></div>
  <div><span>+</span><span>00101011</span></div>
  <div><span>,</span><span>00101100</span></div>
  <div><span>-</span><span>00101101</span></div>
  <div><span>.</span><span>00101110</span></div>
  <div><span>/</span><span>00101111</span></div>
  <div><span>:</span><span>00111010</span></div>
  <div><span>;</span><span>00111011</span></div>
  <div><span>&lt;</span><span>00111100</span></div>
  <div><span>=</span><span>00111101</span></div>
  <div><span>&gt;</span><span>00111110</span></div>
  <div><span>?</span><span>00111111</span></div>
  <div><span>@</span><span>01000000</span></div>
  <div><span>[</span><span>01011011</span></div>
  <div><span>\</span><span>01011100</span></div>
  <div><span>]</span><span>01011101</span></div>
  <div><span>^</span><span>01011110</span></div>
  <div><span>_</span><span>01011111</span></div>
  <div><span>`</span><span>01100000</span></div>
  <div><span>{</span><span>01111011</span></div>
  <div><span>|</span><span>01111100</span></div>
  <div><span>}</span><span>01111101</span></div>
  <div><span>~</span><span>01111110</span></div>
</div>
</section>