{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area" style='background-image: url("{{ .Site.Params.hero.bgImage | absURL }}");'>
    <div class="container">
        <!-- <img class="img-fluid rounded" src="{{ with .Site.Params.hero.bgImage }}{{.| absURL }}{{ end }}" alt="video-thumb"> -->
        <div class="row">
            <div class="offset-md-6 col-md-6">
                <div class="block">
                    {{ with .Site.Params.hero.clubName }}
                        <h2>Welcome to {{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.hero.description }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}