{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.team }}
    {{ if .enable }}
    {{ "<!-- Team Section Start -->" | safeHTML }}
    <section class="team section bg-gray" id="team">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{ . }}</h4>{{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}<p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ range .member }}
                {{ if eq .designation "Mentor"}}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                        <div class="team-member text-center">
                            <div class="member-outline">
                                <div class="member-photo">
                                    <img  src="{{.image | absURL }}" alt="team people" height="350">
                                </div>
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .designation }}</span>
                                {{ with .Roll}}
                                <h6>{{.}}</h6>
                                {{ end }}
                                <ul class="list-inline">
                                    {{ with .GithubURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-github"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .LinkedInURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="row justify-content-center">
                {{ range .member }}
                {{ if eq .designation "Coordinator"}}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-member text-center">
                            <div class="member-outline">
                                <div class="member-photo">
                                    <img  src="{{.image | absURL }}" alt="team people" height="250" >
                                </div>
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .designation }}</span>
                                {{ with .Roll}}
                                <h6>{{.}}</h6>
                                {{ end }}
                                <ul class="list-inline">
                                    {{ with .GithubURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-github"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .LinkedInURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="row justify-content-center">
                {{ range .member }}
                {{ if eq .designation "Core"}}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                        <div class="team-member text-center">
                            <div class="member-outline">
                                <div class="member-photo">
                                    <img  src="{{.image | absURL }}" alt="team people" height="200">
                                </div>
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                <span>{{ .designation }}</span>
                                {{ with .Roll}}
                                <h6>{{.}}</h6>
                                {{ end }}
                                <ul class="list-inline">
                                    {{ with .GithubURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-github"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .LinkedInURL }}
                                    <li class="list-inline-item">
                                        <a href="{{.}}" id ="list-inline-icon">
                                            <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
