// Add your custom code

$color_1: #fff;
$color_2: #7b7b7b;
$color_3: rgb(169, 157, 157);
$color_4: #555;
$color_5: #7b7b7b;
$color_6: green;
$color_7: #7b7b7b;
$background-color_1: #292F36;
$background-color_2: rgba(123, 123, 123, 0.7);
$background-color_3: #fff;

.team-member {
	background-color: $background-color_1;
	margin-bottom: 10px;
	&:hover {
		.mask {
			cursor: pointer;
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: rotateY(0deg) scale(1, 1);
			transform: rotateY(0deg) scale(1, 1);
		}
	}
}
.member-photo {
	overflow: hidden;
	position: relative;
	&:hover {
		img {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
	img {
		transition: all 0.4s ease 0s;
	}
	.mask {
		background-color: $background-color_2;
		position: absolute;
		text-align: center;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all .5s ease-out 0s;
		-webkit-transform: rotateY(180deg) scale(0.5, 0.5);
		transform: rotateY(180deg) scale(0.5, 0.5);
		ul {
			text-align: center;
			position: relative;
			top: 125px;
			li {
				a {
					border: 1px solid #fff;
					color: $color_1;
					display: block;
					font-size: 20px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					width: 35px;
					&:hover {
						background-color: $background-color_3;
						color: $color_2;
						border: 1px solid transparent;
					}
				}
			}
		}
	}
}
.member-meta {
	padding: 15px;
	color: $color_3;
	h4 {
		margin: 0 0 5px;
	}
	span {
		font-size: 12px;
	}
}
#footer {
	background: #fff;
	padding: 25px 0;
	color: $color_4;
	.copyright {
		font-size: 13px;
		margin-bottom: 0;
		a {
			color: $color_5;
		}
	}
	.social {
		text-align: right;
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-right: 15px;
			a {
				font-size: 22px;
				color: $color_5;
			}
		}
	}
}
.cd-headline.slide {
	.cd-words-wrapper {
		color: $color_6;
	}
}
ul.social-icons {
	height: auto;
	overflow: hidden;
	list-style: none !important;
	margin-bottom: 10px;
	li {
		float: none;
		display: inline-block;
		height: 36px;
	}
}
@media (max-width: 768px) {
	.member-photo {
		text-align: center;
		img {
			display: inline-block;
		}
	}
}


$background-color_1: #fff;
$background-color_2: #57cbcc;

.border-meghna {
	border-top: 2px solid rgba(236, 239, 241, 0.07);
	height: 1px;
	margin: 15px auto 0;
	position: relative;
	width: 30%;
	&:before {
		background-color: $background-color_1;
		content: '';
		height: 6px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		top: -4px;
		width: 50px;
		background-color: $background-color_2;
	}
}

#team-row {
	justify-content: center !important;
	display: flex;
	flex-wrap: wrap;
}



// navbar

.navbar-brand {
		margin-top: -20px;
}



.navigation {
	background: $black;
	padding: 20px 0;
  
	.navbar {
	  margin-bottom: 0px;
	  border: 0px;
	}
  
	.navbar-brand {
	  padding-top: 5px;
	}
  
	.navbar {
	  background: none;
	  border: 0px;
  
	  .navbar-nav {
		padding-top: 10px;
  
		a {
		  color: $white;
		  padding: 10px 15px;
  
		  font : {
			weight: 500;
			size: 14px;
		  }
  
		  text-transform:uppercase;
  
		  &:hover,
		  &:focus {
			color: #7b7b7b;;
			background: transparent;
		  }
		}
  
		a.current {
		  color: #7b7b7b;
		  pointer-events: none;
		  cursor: default;
		}
  
		a.current-parent {
		  color: #7b7b7b;
		}
  
		select {
		  margin: 10px 15px;
		}
	  }
  
	  .current > .dropdown-toggle {
		color: #7b7b7b;
	  }
  
	  .dropdown-menu {
		border-radius: 0;
		border: none;
		left: -5px;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  
		a {
		  text-transform: none;
		  font-weight: normal;
		  color: darken( $light, 47.45);
		  padding: 10px 20px;
		  @include transition-multi (color 0.1s ease, padding 0.3s ease);
  
		  &:hover {
			background: $color-primary;
			color: $white;
			padding-left: 25px;
		  }
		}
  
		a.current {
		  padding-left: 25px;
		  color: $white;
		  background: $color-primary;
		}
	  }
	}
  }
  
  .nav .open>a {
	background: transparent;
  }
  
  // Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
  @include desktop {
	.navbar-header {
	  float: none;
	}
  
	.navbar-left,
	.navbar-right {
	  float: none !important;
	}
  
	.navbar-toggle {
	  display: block;
	}
  
	.navbar-collapse {
	  border-top: 1px solid transparent;
	  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
  
	.navbar-fixed-top {
	  top: 0;
	  border-width: 0 0 1px;
	}
  
	.navbar-collapse.collapse {
	  display: none!important;
	}
  
	.navbar-nav {
	  float: none!important;
	  margin-top: 7.5px;
	}
  
	.navbar-nav > li {
	  float: none;
	}
  
	.navbar-nav > li > a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
  
	.collapse {
	  clear: both;
	}
  
	.collapse.in {
	  display: block !important;
	}
  }
  