/* .team-member {
    background-color: #292F36;
    margin-bottom: 10px;
  }
  
  .team-member:hover .mask {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1, 1);
    transform: rotateY(0deg) scale(1, 1);
  }
  
  .member-photo {
    overflow: hidden;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .member-photo {
      text-align: center;
    }
  }
  
  .member-photo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .member-photo img {
    transition: all 0.4s ease 0s;
  }
  
  @media (max-width: 768px) {
    .member-photo img {
      display: inline-block;
    }
  }
  
  .member-photo .mask {
    background-color: rgba(87, 203, 204, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .5s ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
    transform: rotateY(180deg) scale(0.5, 0.5);
  }
  
  .member-photo .mask ul {
    text-align: center;
    position: relative;
    top: 125px;
  }
  
  .member-photo .mask ul li a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
  }
  
  .member-photo .mask ul li a:hover {
    background-color: #fff;
    color: #57cbcc;
    border: 1px solid transparent;
  }
  .member-meta {
    padding: 15px;
    color: rgb(169, 157, 157);
  }
  
  .member-meta h4 {
    margin: 0 0 5px;
  }
  
  .member-meta span {
    font-size: 12px;
  }

  .border-meghna {
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 30%;
  }
  
  .border-meghna:before {
    background-color: #fff;
    content: '';
    height: 6px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -4px;
    width: 50px;
    background-color: #57cbcc;
  } */